/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
.landing {
    background-image: url("../images/vitalii-chernopyskyi-Oxb84ENcFfU-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.navigation {
    margin-bottom: 19%;
}
.navigation img{
    display: flex;
    justify-content: center;
}
.navbar li {
    color: white;
}
#content {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 100% 100%;
    padding-bottom: 20%;
    margin: 0;

} 
.intro {
    text-align: center;
    color: aliceblue;
}
.intro span {
    color: rgb(248, 107, 55);
    font-family: 'Courgette', cursive;
    font-size: 50px;
}
.intro h3{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
}
.intro input{
    width: 20%;
    border-radius: 30px;
    background-color: rgb(231, 79, 41);
} 
.aboutus {
    background-image: url("../images/nordwood-themes-Tmz8FThN_BE-unsplash-removebg-preview\ \(1\).png") ;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain ; */
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
.aboutus h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
}
.aboutus span{
    color: rgb(226, 36, 36);
    font-family: 'Courgette', cursive;
    font-size: 30px;
}
.aboutus p{
    padding: 2% 20%;
    font-size: x-large;
}
.menu h3{
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    text-align: center;
    margin-top: 5%;
}
.menu .row {
    margin: 10%;
}
.col-sm-4 h5 {
    padding: 1% 25%;
    font-family: 'Courgette', cursive;
    font-size: larger;
}
.col-sm-4 p {
    padding: 0 10%;
}
.col-sm-4 input[type="button"] {
    margin: 1% 25%;
    border-radius: 30px;
    background-color: rgb(231, 79, 41);
}
.contactus {
    background-image: url("../images/IMG_3658.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.contactus .main{
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(170, 152, 152);
    margin-right: 0%;
}
.contactus h3{
    font-family:'Courier New', Courier, monospace;
    padding: 3%;
    font-size: 45px;
    color: rgb(170, 152, 152);
    text-align:center;
}
.contactus input, textarea{
    color: rgb(170, 152, 152);
    background: inherit;
}
.contactus input[type="submit"]{
    border: 1px solid white ;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 30%;
    width: 30%;
    color: rgb(226, 36, 36);
    box-shadow: 10px 10px 5px rgb(104, 64, 41);
}
.col-md-6 a:link{
    color: rgb(170, 152, 152);
}
.col-md-6 a:hover{
    color: brown;
}
#map{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 0%;
}
.checkout{
    /* background-image: url("../images/IMG_3660.JPG"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#checkoutContent{
    background-color: rgb(253, 253, 253);
    margin: 5%;
    /* margin-bottom: 10%; */
    height: 90vh;
    box-shadow: 10px 10px 5px rgb(22, 22, 21) ;
}
.order {
    border-right: 0.5px solid black;
    padding-left: 5%;
}
.deliver {
    padding-left: 5%;
}
.order p, label{
    margin-bottom: 2%;
}
#checkoutContent h3{
    font-family:'Courier New', Courier, monospace;
    padding: 3%;
    font-size: 45px;
    color: rgb(170, 152, 152);
    text-align:center;
}
#deliveryDetails {
    display: none;
}
#pickUpDetails {
    display: none;
}